#*******************************************************************************
#*******************************************************************************
#*******************************************************************************
#
# {{ ansible_managed }}
#
#*******************************************************************************
#*******************************************************************************
#*******************************************************************************

email-smtp.eu-west-1.amazonaws.com:587 {{ aws_ses_username }}:{{ aws_ses_password }}
