[defaults]
ansible_managed = WARNING: This file is managed by Ansible, DO NOT MAKE CHANGES HERE - they will be overwritten!
force_handlers = True
inventory = ./hosts.ini
vault_password_file = vault-password.txt
