[defaults]
ansible_managed = WARNING: This file is managed by Ansible, DO NOT MAKE CHANGES HERE - they will be overwritten!
force_handlers = True
gathering = explicit
inventory = ./hosts.ini
vault_password_file = vault-password.txt

; https://docs.ansible.com/ansible/devel/reference_appendices/faq.html#argsplat-unsafe
inject_facts_as_vars = False
