;*******************************************************************************
;*******************************************************************************
;*******************************************************************************
;
; {{ ansible_managed }}
;
;*******************************************************************************
;*******************************************************************************
;*******************************************************************************

[Timer]
OnCalendar=*-*-* 01:00
RandomizedDelaySec=3h
