#*******************************************************************************
#*******************************************************************************
#*******************************************************************************
#
# {{ ansible_managed }}
#
#*******************************************************************************
#*******************************************************************************
#*******************************************************************************

preserve_hostname: true
