#*******************************************************************************
#*******************************************************************************
#*******************************************************************************
#
# {{ ansible_managed }}
#
#*******************************************************************************
#*******************************************************************************
#*******************************************************************************

<VirtualHost *:443>

    SSLEngine on

    ServerName default

    DocumentRoot /var/www/default-site/
    ErrorDocument 404 /404.html

    RewriteEngine on
    RewriteCond %{REQUEST_URI} !=/404.html
    RewriteRule ^ /404.html [R=404,L]

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>

<Directory /var/www/default-site>

    Options FollowSymLinks
    AllowOverride All

</Directory>
