<VirtualHost *:443>

    SSLEngine on

    ServerName example.djm.me
    #ServerAlias www.example.djm.me

    DocumentRoot /var/www/example/public/

    #ProxyPass / http://localhost:3000/ nocanon
    #ProxyPassReverse / http://localhost:3000/
    #RequestHeader add X-Forwarded-Proto "https"

    ErrorLog ${APACHE_LOG_DIR}/example-error.log
    CustomLog ${APACHE_LOG_DIR}/example-access.log combined

</VirtualHost>

<Directory /var/www/example/>

    <FilesMatch "\.php$">
        SetHandler "proxy:unix:/run/php/php8.1-fpm.sock|fcgi://localhost"
    </FilesMatch>

</Directory>
