#*******************************************************************************
#*******************************************************************************
#*******************************************************************************
#
# {{ ansible_managed }}
#
#*******************************************************************************
#*******************************************************************************
#*******************************************************************************

[client]
host = localhost
user = root
password = {{ mysql_root_password }}

{% if is_system_config %}
    [mysql_upgrade]
    host = localhost
    user = root
    password = {{ mysql_root_password }}
{% endif %}
