#!/bin/bash
#*******************************************************************************
#*******************************************************************************
#*******************************************************************************
#
# {{ ansible_managed }}
#
#*******************************************************************************
#*******************************************************************************
#*******************************************************************************

set -o nounset -o pipefail -o errexit

service apache2 reload
